<html>
<body>
    <h1 style="text-align: center; color: red;">Test Boy</h1>
    <div
      style="
        display: flex;
        border: 1px solid red;
        justify-content: space-evenly;
      "
    >
      <p style="font-weight: 800; color: blue;">Item 1</p>
      <p>Item 2</p>
    </div>
    <table>
      <tr>
        <th>S.No</th>
        <th>dfdf</th>
        <th>Name</th>
      </tr>
      <tr>
        <td>1</td>
        <td>qqwertt</td>
        <td>Abhishek</td>
      </tr>
      <tr>
        <td>2</td>
        <td>sdadfadffsd</td>
        <td>Sachin</td>
      </tr>
    </table>
  </body>
</html>
