{% extends 'WAMSApp/base.html' %}

{% block content %}

{% load static %}

<style type="text/css">
  @font-face {
    font-family: AvenirNext;
    src: url("{% static 'WAMSApp/fonts/Avenir-Next-Font/AvenirNextLTPro-Demi.otf' %}");
  }

  @font-face {
    font-family: AvenirNextBold;
    src: url("{% static 'WAMSApp/fonts/Avenir-Next-Font/AvenirNextLTPro-Bold.otf' %}");
  }

  @font-face {
    font-family: AvenirNextBold;
    src: url("{% static 'WAMSApp/fonts/Avenir-Next-Font/AvenirNextLTPro-Bold.otf' %}");
  }

  .ck.ck-content ul,
  .ck.ck-content ul li {
    list-style-type: inherit;
  }

  .ck.ck-content ul {
    padding-left: 40px;
  }

  .ck.ck-content strong {
    font-weight: bold;
  }

  .flex-container-space-btw {
    display: flex;
    justify-content: space-between;
  }

  .flex-container-space-btw>div {
    margin-top: 15px;
    width: 7vw;
  }


  .img-wrapper {
    position: relative;
  }

  .img-responsive {
    width: 100%;
    height: auto;
  }

  .img-overlay {
    position: absolute;
    top: 1em;
    bottom: 0;
    right: 1em;
    text-align: center;
  }

  .redd:hover {
    background-color: red !important;
    color: white !important;
  }

  .greenn:hover {
    background-color: #009051 !important;
    color: white !important;
  }

  .bluee:hover {
    background-color: blue !important;
    color: white !important;
  }

  .yelloww:hover {
    background-color: orange !important;
    color: white !important;
  }

  .purplee:hover {
    background-color: #512de8 !important;
    color: white !important;
  }

  .maroonn:hover {
    background-color: maroon !important;
    color: white !important;
  }

  .homee:hover {
    background-color: #521893 !important;
    color: white !important;
  }

  .miniimage+input {
    width: 50% !important;
    display: block;
  }

  input[type="checkbox"].filled-in:checked+span:before {
    background-color: #512de8 !important
  }

  input[type="checkbox"].filled-in:checked+span:after {
    background-color: #512de8 !important
  }

  .img-overlay:before {
    content: ' ';
    display: block;
    height: 10%;
  }


  a .active {
    background-color: #512da8 !important;
  }


  /*tabs*/

  .tab-content {
    margin-top: 20px;
    max-height: 80vh;
    overflow: auto;
    overflow-x: hidden;
  }

  input:focus {
    border-color: #512da8 !important;
  }

  input:select {
    border-color: #512da8 !important;
  }

  .tab-pane div.row {
    padding: 20px !important;
  }

  .savebtn {
    position: fixed;
    top: 20px;
    left: 50px;
    background-color: #512da8;
  }

  li span {
    color: black !important;
  }

  img.materialboxed {
    width: 100px;
    height: 100px;
    background-color: white;
  }

  .tab-pane h4 {
    display: none;
  }

  .miniimage {
    display: block;
    height: 80px;
  }

  .image-section {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
  }


  .input-field:not(.left-section) {
    padding: 0px 50px 0px 50px !important;
    margin-top: 20px !important;
  }


  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {
    border: none !important;
    border-bottom: 2px solid #f7f7f7 !important;
    padding-left: 10px !important;
    font-family: 'AvenirNext' !important;
    font-weight:
  }

  input:not([type]):focus:not([readonly]),
  input[type=text]:focus:not([readonly]),
  input[type=password]:focus:not([readonly]),
  input[type=email]:focus:not([readonly]),
  input[type=url]:focus:not([readonly]),
  input[type=time]:focus:not([readonly]),
  input[type=date]:focus:not([readonly]),
  input[type=datetime]:focus:not([readonly]),
  input[type=datetime-local]:focus:not([readonly]),
  input[type=tel]:focus:not([readonly]),
  input[type=number]:focus:not([readonly]),
  input[type=search]:focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly])>label {
    border-bottom: 1px solid #512ea8 !important;
    box-shadow: 0 1px 0 0 #f00 !important;
    border-bottom: none !important;
    box-shadow: none !important;
  }

  label {
    margin-left: 50px !important;
  }

  .input-field:not(.left-section) input:focus+label {
    color: #512ea8 !important;
  }

  .row .input-field:not(.left-section) input:focus {
    border-bottom: 1px solid #512ea8 !important;
    box-shadow: 0 1px 0 0 #512ea8 !important
  }

  .left-section .select-wrapper ul {
    position: relative;
    top: -300px !important;
  }

  .material-placeholder {}

  .preview-img {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain;
  }

  .image-section {
    padding: 0 !important;
  }



  .padding-zero {
    padding: 0 !important;
  }

  .graphics-section {
    padding: 10px 0 !important;
    margin: 0;
  }

  .feature-container>p {
    display: flex;
    align-items: center;
  }

  .feature-container ul {
    margin: 10px 0;
  }

  .feature-list {
    color: grey;
    font-size: 12px;
  }

  .product-info-parent {

    padding: 0 20px;
  }

  .product-info {
    font-size: 14px;
    color: grey;
    font-family: 'AvenirNextRegular';
  }

  .product-info-tab>li>a {
    font-size: 14px !important;
    color: grey !important;
    padding: 0 5px;
  }

  .product-info-tab>li>.active {
    /* background-color: #80808091 !important; */
    color: #972CC6 !important;
    background-color: white !important;
    border-right: .5px solid rgba(128, 128, 128, 0.418);
  }


  .product-info-tab {
    display: flex;
    flex-direction: column !important;
    width: 100%;
    height: auto;
    background-color: white;
    border-right: .5px solid rgba(128, 128, 128, 0.418);
    margin: 10px 0;
  }

  .product-info-tab .tab>a {
    text-align: left;
    color: #512da8;
    font-size: 14px !important;
  }

  .product-info-container {}

  .product-info {
    padding: 20px;
  }

  .right-container {
    padding: 0 30px !important;
  }

  .right-container h5 {
    color: #512da8;
    font-size: 20px;
  }

  .feature-title {
    color: #512da8;
    font-size: 14px;
  }

  .sku-info {
    color: grey;
    font-size: 12px;
  }


  /* disable bottom border from tabs */
  li.indicator {
    display: none;
  }


  /*  Sourav Code */

  .row {
    margin: 0 !important;

  }

  .margin-zero {
    margin: 0 !important;
  }

  .bg-white {
    background-color: white;
  }

  .text-grey {
    color: grey;
  }

  .no-shadows {
    box-shadow: none !important;
  }

  .avenier-next {
    font-family: 'AvenirNext';
  }


  .breadcrumb-container {
    border-bottom: .5px solid rgba(128, 128, 128, 0.384);
  }

  .breadcrumb:before {
    color: grey;
    font-size: 14px;

  }

  .breadcrumb {
    color: grey;
    font-family: 'AvenirNextRegular';
    font-size: 14px;
  }

  .active-breadcrumb {
    color: grey !important;
    font-family: 'AvenirNextRegular';
    font-size: 14px;
  }

  .active-breadcrumb:before {
    color: grey;
  }

  .breadcrumb-container nav {
    height: 50px;
  }

  .nav-wrapper {
    height: 50px !important;
    display: flex;
    align-items: center;
  }

  .content-left-container {

    min-height: 100vh;
  }

  .content-right-container {
    height: 100% !important;
    padding: 10px !important;

    border-left: .5px solid rgba(128, 128, 128, 0.39);


  }

  .content-right-container ul {
    padding: 10px !important;
  }

  .content-right-container ul>li:before {
    content: "•";
    display: inline-block;
    color: #321DD6;
    margin-right: 5px;
  }


  .content-right-container ul>li {
    font-family: 'AvenirNextRegular';
    font-size: 14px;
    color: #757575;
    margin-bottom: 10px;
  }

  .special-features-title {
    color: #321DD6;
    font-size: 16px;
  }

  .brand-title {
    color: grey;
    font-family: 'AvenirNextRegular';
    font-size: 16px;
  }

  .product-title {
    font-family: 'AvenirNext';
    font-size: 18px;
    line-height: 1.5;
  }

  .product-id-sku-container {
    display: flex;
    align-items: center;
    background-color: #F8EDFF;
    padding: 10px;
  }

  .product-id-sku-container>p {
    color: #972CC6;
    font-family: 'AvenirNextRegular';
    margin: 0 10px 0 0;
  }

  .product-category-container {
    padding: 10px 0;
  }

  .product-category-container .category-title {
    color: #ADADAD;
    font-size: 14px;
    font-family: 'AvenirNextRegular';
  }

  .product-category-container>.row {
    margin-bottom: 15px !important;
  }

  .product-category-container .category-info {
    color: #5A5A5A;
    font-size: 14px;
    font-family: 'AvenirNextRegular';
    line-height: 1.2 !important;
  }

  .social-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 60px;
    border-top: .5px solid rgba(128, 128, 128, 0.37);
    border-bottom: .5px solid rgba(128, 128, 128, 0.37);
  }

  .fab {
    font-size: 25px;
    margin: 0 10px;
  }

  .slider-container {
    width: 100%;
    padding: 0 5px;
  }

  .slider-for {
    height: auto;
  }

  .slider-nav {
    height: auto;
    margin-top: 20px;
    padding: 0 8px;
    position: relative;
  }

  .slick-prev {
    position: absolute;
    left: -12px;
  }

  .slick-next {
    position: absolute;
    right: -12px;
  }

  .slick-track {
    display: flex !important;
    justify-content: center !important;
  }

  .slick-prev:before,
  .slick-next:before {

    color: #CCCCCC;
  }

  .img-fluid-preview {
    width: 100% !important;
  }

  .slick-slide {
    padding: 2px !important;
  }

  .img-fluid-nav {
    width: 100% !important;
    margin: 0 4px;
  }

  .product-price-outdoor-container {
    background-color: #3FB223;
    padding: 10px 10px 5px 10px;
    border-radius: 5px;
  }

  .product-price {
    margin: 0;
    color: white;
    font-family: 'AvenirNextRegular';
    font-size: 13px;

  }

  .product-stock-warehouse-container {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #321DD6;
    padding: 10px 10px 5px 10px;
  }

  .product-stock {
    margin: 0;
    color: #321DD6;
    font-family: 'AvenirNextRegular';
    font-size: 13px;
  }

  .stock-warehouse {
    font-family: 'AvenirNextRegular !important';
    font-size: 12px !important;
    border: none;
    color: #321DD6;
  }

  .stock-warehouse:focus {
    outline: none;
  }

  .outdoor-price {
    font-family: 'AvenirNextRegular !important';
    font-size: 12px !important;
    background-color: #3FB223;
    border: none;
    color: white;
  }

  .outdoor-price:focus {
    outline: none;
  }

  .outdoor-price-container .select-wrapper input.select-dropdown {
    border-bottom: none !important;
    font-size: 10px;
    margin: 0;
    color: white;
    height: 20px;
    font-weight: 200;
  }

  .outdoor-price-container .select-wrapper .caret {
    right: -20px;
    fill: white;
  }

  .product-stock-warehouse-container .select-wrapper input.select-dropdown {
    border-bottom: none !important;
    font-size: 10px;
    margin: 0;
    color: #321DD6;
    height: 20px;
    font-weight: 200;
  }

  .product-stock-warehouse-container .select-wrapper .caret {
    right: -20px;
    fill: #321DD6;
  }

  .dimension-tab-info {
    
    color: #ADADAD;
    font-size: 16px;
    padding-right: 10px;
  }
  .dimension-tab-info-value {
    
    color: #747474;
    font-size: 16px;
  }

  .dimension-tab-container table.striped>tbody>tr:nth-child(odd) {
    background-color: #EDF8FF;
  }

  .select-wrapper input.select-dropdown {
    font: AvenirNext !important;
    font-size: 10px !important;
  }

  .outdoor-price-container ul.dropdown-content.select-dropdown li span {
    padding: 5px !important;
    font: AvenirNext !important;
    font-size: 12px !important;
    color: grey !important;
  }
  .outdoor-price-container ul.dropdown-content.select-dropdown li {
    display: flex;
    align-items: center;
  }
  .product-stock-warehouse-container ul.dropdown-content.select-dropdown li span {
    padding: 5px !important;
    font: AvenirNext !important;
    font-size: 12px !important;
    color: grey !important;
  }
  .product-stock-warehouse-container ul.dropdown-content.select-dropdown li {
    display: flex;
    align-items: center;
  }

</style>


<style type="text/css">
  .image-section-dropdown .select-wrapper input.select-dropdown {
    border: none !important;
    bottom: 2px !important;
    margin-bottom: 0px !important;
    font-size: 14px !important;
  }

  input.active {
    border-bottom-color: #512da8 !important;
  }
</style>


<div>
  <div class="row breadcrumb-container">
    <nav class="no-shadows">
      <div class="nav-wrapper white ">
        <div class="col s12 ">
          <a href="#!" class="breadcrumb ">Products</a>
          <a href="#!" class="breadcrumb ">Product Listings</a>
          <a href="#!" class="breadcrumb active-breadcrumb">Product Details Page</a>
        </div>
      </div>
    </nav>
  </div>

  <div class="row bg-white" style="">
    <div class="row col l9 s12 content-left-container padding-zero">
      <div class="row bg-white" style="padding: 10px;">
        <div class="col l5 s12">

          <div class="slider-container margin-zero ">
            <div class="slider slider-for " id="images">
              

            </div>
            <div class="slider slider-nav" id="slider-images">
              
            </div>

          </div>
        </div>
        <div class="col l7 s12 product-info-container">
          <h6 class="brand-title" id="brand-name">
            Geepas
          </h6>
          <h6 class="product-title" id="product-name">
            Geepas Product Name. This can be of three lines and or more as name are long for products
          </h6>
          <!-- <div class="product-id-sku-container">
            <p class="product-id">Product id: 60002763576</p>
            <p class="separator">|</p>
            <p class="seller-sku">Seller SKU: FRH786</p c>
          </div> -->
          
          <div class="product-category-container">
            <div class="row">
              <div class="col s3 category-title padding-zero">
                Product ID:
              </div>
              <div class="col s9 category-info padding-zero" id="product-id">
                60000072654762
              </div>
            </div>

            <div class="row">
              <div class="col s3 category-title padding-zero">
                Seller SKU:
              </div>
              <div class="col s9 category-info padding-zero" id="seller-sku">
                GP23424
              </div>
            </div>

            <div class="row">
              <div class="col s3 category-title padding-zero">
                SAP Name:
              </div>
              <div class="col s9 category-info padding-zero" id="product-name-sap">
                Amazon product name, this again can be of three lines or more
              </div>
            </div>

            <div class="row">
              <div class="col s3 category-title padding-zero">
                Category:
              </div>
              <div class="col s9 category-info padding-zero" id="category">
                Home Appliances
              </div>
            </div>

           <!--  <div class="row">
              <div class="col s3 category-title padding-zero">
                Sub - Category:
              </div>
              <div class="col s9 category-info padding-zero">
                Grinder
              </div>
            </div> -->

            <div class="row">
              <div class="col s3 category-title padding-zero">
                Color Group
              </div>
              <div class="col s9 category-info padding-zero" id="color-group">
                Electric Blue
              </div>
            </div>

          </div>
          <div class="product-price-stock-container">
            <div class="row">
              <div class="col s6 l4 " style="padding: 0 .75rem 0 0;">
                <div class="product-price-outdoor-container">
                  <div class="row product-price-container">
                    <p class="product-price">
                      AED 19,240
                    </p>
                  </div>
                  <div class="row outdoor-price-container">
                    <div class="col l5"></div>
                    <div class="col l7">
                      <select class="outdoor-price">
                        <option value="" disabled selected>outdoor price</option>
                        <option value="1">AED 2000</option>
                        <option value="2">AED 3000</option>
                        <option value="3">AED 2100</option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col s6 l7 " style="padding: 0  0 0 .75rem;">
                <div class="product-stock-warehouse-container">
                  <div class="row">
                    <p class="product-stock">
                      AED 19,240
                    </p>
                  </div>
                  <div class="row">
                    <div class="col l5 s6"></div>
                    <div class="col l7 s6">
                      <select class=" stock-warehouse">
                        <option value="" selected>Jabel Ali Warehouse, Dubai UAE</option>
                        <option value="1">AED 2000</option>
                        <option value="2">AED 3000</option>
                        <option value="3">AED 2100</option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col l1 s0"></div>
            </div>
          </div>
        </div>
      </div>



    </div>
    <div class="col l3 s12 content-right-container bg-white">
      <h6 class="special-features-title">
        Special Features
      </h6>
      <ul id="special-features-list">
        
      </ul>
    </div>
  </div>
  <div class="row padding-zero bg-white">
    <div class="col s12 row padding-zero">
      <ul class="social-icon-container">
        <li>
          <a href="#">
            <i class="fab fa-facebook black-text"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter  black-text"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram  black-text "></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-snapchat  black-text "></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row padding-zero  bg-white">
    <div class="col s12 row padding-zero">
      <div class="col s3 padding-zero">
        <ul class="tabs product-info-tab">
          <li class="tab "><a class="active" href="#product-description">DESCRIPTION</a></li>
          <li class="tab "><a href="#test3">DIMENSIONS</a></li>

        </ul>
      </div>
      <div class="col s9  padding-zero product-info-container">
        <div class="product-info" id="product-description">
          
        </div>

        <div id="test3" class="product-info dimension-tab-container">
          <div class="row">
            <div class="col l6">
              <table class="striped">
                <tbody>
                  <tr>
                    <td class="dimension-tab-info">Package Dimensions (L x B x H)</td>
                    <td class="dimension-tab-info-value" id="package-dimensions"></td>
                  </tr>
                  <tr>
                    <td class="dimension-tab-info">Item Dimensions (L x B x H)</td>
                    <td class="dimension-tab-info-value" id="item-dimensions">24 centimeters</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="col l6">
              <table class="striped">
                <tbody>
                  <tr>
                    <td class="dimension-tab-info">Item Display (L x B x H)</td class="dimension-tab-info">

                    <td class="dimension-tab-info-value" id="item-display-dimensions">24 centimeters</td>
                  </tr>
                  <tr>
                    <td class="dimension-tab-info">Item Weight (L x B x H)</td class="dimension-tab-info">
                    <td class="dimension-tab-info-value" id="item-weight-dimensions">24 grams</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>


</div>






<div id="download-export-list-modal" class="modal" style="border-radius: 5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">EXPORT PRODUCT</h5>
    <br>
    <div class="row">
      <div class="input-field col s6" style="padding-left: 0em !important;">
        <select id="export-format">
          <option value="Amazon UK" selected>Amazon UK</option>
          <option value="Amazon UAE">Amazon UAE</option>
          <option value="Ebay">Ebay</option>
          <option value="Noon">Noon</option>
          <!-- <option value="Ebay" style="font-family: 'AvenirNextRegular';">Ebay</option>   -->
        </select>
        <label style="margin-left: 0em !important;">Export Format</label>
      </div>

      <div class="input-field col s6">
      </div>
    </div>
  </div>
  <div class="modal-footer" style="margin-bottom: 15px">
    <a href="#!" class="modal-close waves-effect btn-flat" style="margin-right: 20px;">Close</a>
    <a id="download-product-btn" href="#!" class="waves-effect btn-flat white-text"
      style="margin-right: 20px;background-color: #521893 !important;">Download</a>
  </div>
</div>


<script type="text/javascript">

  $('.tabs').tabs();
  $('.chips').chips();
  $('select').formSelect();
  $('.modal').modal();
  $('body').css('background-color', '#ebebeb');
  $('.tabs').tabs();

  // slider product listing 

  


  var global_verification_status = false;
  var global_delete_image_pk = null;

  //Page reload prevent logic
  let savecounter = false;
  $('#save-btn').click(() => {
    savecounter = false;
  })

  $('input').click(function () {
    savecounter = true;
  })

  function preventDefault() {
    if (savecounter) {
      alert('Please save the details before refreshing!');
    }
    else {
      window.close();
    }
  }

  $('#close-btn').click(function () {
    preventDefault();
  })


  function getCsrfToken() {
    var CSRF_TOKEN = $('input[name="csrfmiddlewaretoken"]').val();
    return CSRF_TOKEN;
  }

  
  function fetch_product_details() {
    $.ajax({
      url: "/fetch-product-details/",
      type: "POST",
      headers: {
        'X-CSRFToken': getCsrfToken()
      },
      data: {
        pk: window.location.pathname.split("/")[2]
      },
      success: function (response) {
        console.log("Success!", response);

        $('.material-placeholder').remove();
        
        // $('#images').append(`<div>
        //         <img class="img-fluid-preview"
        //           src='` + response["repr_image_url"] + `' alt="Image Description">
        //       </div>`)
        images = response["images"]["all_images"];

        for(i=0;i<images.length;i++)
        {
          console.log(images[i]["main-url"]);
        $('#images').append(`<div>
                <img class="img-fluid-preview"
                  src='` + images[i]["main-url"] + `' alt="Image Description">
              </div>`)

        $('#slider-images').append(`<div>
                <img class="img-fluid-nav"
                  src='` + images[i]["main-url"] + `' alt="Image Description">
              </div>`)

        }

        $('.slider-for').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.slider-nav',

          });
          $('.slider-nav').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            asNavFor: '.slider-for',
            dots: false,
            centerMode: true,
            focusOnSelect: false,
            vertical: false,
            arrows: true,
            focusOnSelect: true

          });

          // initialized materialize css select


          $('.slider-down-button').click(function () {
            $('.slider-nav').slick('slickPrev');
          })

          $('.slider-up-button').click(function () {
            $('.slider-nav').slick('slickNext');
          })

        $('.materialboxed').materialbox();

        
        $("#product-name-sap").html(response["product_name_sap"]);
        $("#product-name").html(response["product_name_sap"]);
        $("#category").html(response["category"]);
        $("#color-group").html(response["color_map"]);
        $("#brand-name").html(response["brand"]);
        $("#product-id").html(response["product_id"]);
        $("#seller-sku").html(response["seller_sku"]);
        $("#product-description").html(`<h7>`+response["product_description_amazon_uk"]+`</h7>`);
        
        var special_features = response["special_features"];
        
        for (var i = 0; i < special_features.length; i++) {
          $
          $("#special-features-list").append(`<li>`+special_features[i]+`</li>`);
        }

        $("#package-dimensions").html(response["package_length"]+` `+response["package_length_metric"]+` `+response["package_width"]+` `+response["package_width_metric"]+` `+response["package_height"]+` `+response["package_height_metric"] );
        
        $("#item-dimensions").html(response["item_length"]+` `+response["item_length_metric"]+` `+response["item_width"]+` `+response["item_width_metric"]+` `+response["item_height"]+` `+response["item_height_metric"] );

        $("#item-display-dimensions").html(response["item_display_length"]+` `+response["item_display_length_metric"]+` `+response["item_display_width"]+` `+response["item_display_width_metric"]+` `+response["item_display_height"]+` `+response["item_display_height_metric"] );

        $("#item-weight-dimensions").html(response["item_display_weight"]+` `+response["item_display_weight_metric"]+` `+response["item_display_volume"]+` `+response["item_display_volume_metric"]+` `+response["item_weight"]+` `+response["item_weight_metric"] );
        
        M.updateTextFields();
        $('select').formSelect();
      },
      error: function (xhr, textstatus, errorthrown) {
        console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
      }
    });
  }

  fetch_product_details();


</script>

{% endblock %}