{% extends 'WAMSApp/console.html' %}

{% block content2 %}

{% load static %}

<style>
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 0.6; /* Firefox */
}

.redd:hover
{
  background-color: red !important;
  color:white !important;
}

.filterr:hover {
  background-color: #521893 !important;
  color:white !important;
}

.chips .input {
    background: none;
    border: 0;
    color: rgba(0,0,0,0.6);
    display: inline-block;
    font-size: 16px;
    height: 3rem;
    line-height: 32px;
    outline: 0;
    margin: 0;
    padding: 0 !important;
    width: 400px !important ;
}

/*Export*/    
.download_btn:hover{    
   color:white !important;    
  background-color: green !important;   
  border-color: white !important;   
}   
.clickable-row{   
  cursor: pointer;      
}   
.big-modal{   
  width: 95vw;    
  height: 90vh !important;    
  overflow-y: auto;   
}


ul.dropdown-content.select-dropdown li span {
    color: #521893;
    font-size: 14px;
    font-family: 'AvenirNext'; 
}

.select-wrapper input.select-dropdown {
  font-size: 14px;
  font-family: 'AvenirNext'; 
  color: #521893;
}
.filter-parameter {
  color: #521893;
  font-size: 14px;
  font-family: 'AvenirNext'; 
}

.input-field>label {
  color: #521893;
}

.input-field input:focus + label {
 color: #521893 !important;
}

.datepicker-date-display .date-text {
  color: white;
  font-size: 22px;
}

.datepicker-date-display .year-text {
  color: white;
  font-size: 14px;
}

.datepicker-date-display {
  background-color: #521893;
}

.datepicker-table td.is-today {
  color: #521893;
}

.datepicker-table td.is-selected {
  background-color: #dfccea;
}

.datepicker-table td.is-selected {
  color: #521893;
}

.datepicker-cancel {
  color: grey;
}

.datepicker-done {
  color: #521893;
  font-weight: bolder;
}

/*.checkbox-verified[type="checkbox"].filled-in:checked + label:after{
   border: 2px solid #521893;
   background-color: #521893;
}*/

</style>


    <div class="row" style="margin-bottom: 0em;background-color: white !important;">
      <div class="input-field col s10 search-input-div" style="padding: 0em;margin-top:0rem;margin-bottom: 0px;">
        <i class="material-icons" style="z-index:100;position: absolute;margin-top: 0.4em;margin-left: 0.5em;color: grey !important;">search</i>

        <div type="text" class="validate white search-input chips chips-placeholder" style="margin:0px;text-indent: 2.5em;box-shadow: none; border: none;outline: none;font-family: 'AvenirNextRegular';font-size: 14px;letter-spacing: 1px;"></div>
      </div>

      <div class="col s2 white user-icon-div">
        <a href="/logout">
          <i class="material-icons power_btn" style="
            position: absolute;
            top: 50%;right: 10%;    
            padding: 5px;   
            color: grey;
            border-radius: 20px;    
            font-size: 18px;    
            border: 1px solid #d2dfeb;
            cursor: pointer">
            settings_power
          </i>
        </a>
        
        <span style="
          margin-left: 2em;    
          position: absolute;   
          top: 60%;   
          left: 6%;   
          color: black;   
          border-left: 1px solid rgba(28,110,164,0.21);   
          padding-left: 18px;   
          font-family: 'AvenirNext';    
          text-transform: capitalize;">
            {{request.user}}
        </span>

      </div>
    </div>

    <div class="row" style = "margin : 20px 5px 0px 4px !important;">
      <div class="col s6" style="position: relative;top: 20px;padding-left: 0px;font-family:'AvenirNext';">
        <span id="total-export-list" style="font-family:'AvenirNext';"></span> Results
      </div>

      <div class="col s6" style="margin-bottom: 4px;padding-right:0px;">

        <!--<a href="#filter-modal" class="modal-trigger waves-effect waves-light right" style="   position: relative;padding: 12px 30px 10px 12px;    
        color: gray;    
        border-radius: 5px;   
        font-size: 13px;    
        background-color: white;font-family: 'AvenirNextRegular';letter-spacing: 1px;"><i class="material-icons" style="position: absolute;   
        top: 50%;   
        font-size: 20px;    
        right: 5px;   
        color: gray;    
        transform: translateY(-50%);    
	background-color: white;">arrow_drop_down</i>Filter</a>-->

        <a id="filter-btn" href="#filter-modal" class="filterr modal-trigger waves-effect waves-light right" style="
        position: relative;
        padding: 12px 30px 10px;   
        color: gray;    
        border-radius: 5px;   
        font-size: 13px;    
        background-color: white;
        font-family: 'AvenirNextRegular';
        letter-spacing: 1px;">
        Filter
      </a>


      </div>

      <div class="col s12">
      
        <div style="margin-top: 15px;">  
          <div class="row product_row" style="margin-bottom: 10px;">
            <div class = "col s1 center" style="line-height: 100%;position: relative;">
              <label class="toggler-wrapper style-25">
                <input type="checkbox" >
                <div class="toggler-slider">
                  <div class="toggler-knob"></div>
                </div>
              </label>
            </div>

            <div class = "col s5" style="line-height: 100%;padding-top: 2px;font-family:'AvenirNext';color: #521893;">Exported Title</div>
            <div class = "col s2" style="line-height: 100%;padding-top: 2px;font-family:'AvenirNext';color: #521893;">Count</div>   
            <div class = "col s2 left" style="line-height: 100%;padding-top: 2px;font-family:'AvenirNext';color: #521893;">Date Created</div>   
            <div class = "col s2 center" style="line-height: 100%;padding-top: 2px;font-family:'AvenirNext';color: #521893;padding-right: 15px;">Export</div>
          </div>
          <div id="export-list-tbody">
          </div>

        </div>
      </div>




<div id="export-details-modal" class="scroll-style-1 modal big-modal scrollbar" style="position: absolute;bottom: 50px;max-height: 90vh !important;">
  <div class="scroll-style-1 modal-content">
    <h5 style="font-family: 'AvenirNext';margin-left: 10px;font-size: 18px;">EXPORT ITEMS</h5>
    <br>
    <div class="scroll-style-1 flex-container" id = "export-details-tbody" style="overflow-y: auto;height:60vh;">
    </div>
  </div>
  <div class="modal-footer" style="bottom: 20px;right: 20px;">
    <a href="#!" class="modal-close waves-effect btn-flat blue white-text" style="font-family: 'AvenirNext';margin-right: 20px;background-color:#521893 !important;">Close</a>
  </div>
</div>



<div id="download-export-list-modal" class="modal" style="border-radius: 5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">DOWNLOAD EXPORT LIST</h5>
    <br>
    <div class="row">
      <div class="input-field col s6">
        <select id="export-format">
          <option value="Amazon UK" selected>Amazon UK</option>
          <option value="Amazon UAE" >Amazon UAE</option>
          <!-- <option value="Ebay" style="font-family: 'AvenirNextRegular';">Ebay</option>   -->
        </select>
        <label>Export Format</label>
      </div>

      <div class="input-field col s6">
      </div>
    </div>
  </div>
  <div class="modal-footer" style="margin-bottom: 15px">
    <a href="#!" class="modal-close waves-effect btn-flat" style="margin-right: 20px;">Close</a>
    <a id="download-export-list-btn" href="#!" class="waves-effect btn-flat white-text" style="margin-right: 20px;background-color: #521893 !important;">Download</a>
    <!-- <a id="download-export-list-btn" href="#!" class="waves-effect btn-flat white-text">
          <i class="material-icons download_btn" style="
            color: gray;padding: 3px 4px 3px 3px;
            border-color: gray;
            border-radius: 20px;
            border: 1px solid #d2dfeb;
            font-size: 15px;
            position: relative;
            top: 12px;">
            file_download
          </i>Download
        </a> -->
  </div>
</div>




<div id="filter-modal" class="modal" style="border-radius:5px;height: 30em;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">FILTER</h5>
    
    <div class="row" style="margin-bottom: 0em;">
      <div class="input-field col s4">
        <input id="start-date" type="text" class="datepicker">
        <label for="start-date" class="filter-parameter">Start Date</label>
      </div>
      <div class="input-field col s4">
        <input id="end-date" type="text" class="datepicker">
        <label for="end-date" class="filter-parameter">End Date</label>
      </div>
    </div>
    
  </div>
  <div class="modal-footer" style="margin-top: 13em;">
    <a href="#!" class="modal-close waves-effect btn-flat" style="font-family: 'AvenirNext';">Close</a>
    <a id="apply-btn" href="#!" class="modal-close waves-effect btn-flat white-text" style="font-family: 'AvenirNext';background-color: #521893;border-radius: 2px;margin-right: 30px;">Apply</a>
  </div>
</div>



<div id="remove-product-modal" class="modal">
  <div class="modal-content">
    <h4 style="font-family:'AvenirNext';font-size:18px;">Are you sure you want to remove the product from this list?</h4>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
    <a id="remove-product-btn" href="#!" class="red waves-effect waves-red btn-flat white-text">Remove</a>
  </div>
</div>


<script type="text/javascript">

  var global_remove_product_pk = null;
  var global_selected_export_pk = null;

  function removeDefault()
  {
    let countchip = $('.chip').length;
    if(countchip > 0)
    {
      $('input').attr("placeholder" , "");
    }
  }

  var chip_tags = [];
  $('.chips-placeholder').chips({
    placeholder: 'Search by product name, product id or seller sku',
    onChipAdd: (event, chip) => {
          chip_tags = [];
          for(i=0; i< M.Chips.getInstance($('.chips')).chipsData.length; i++){
            chip_tags.push( M.Chips.getInstance($('.chips')).chipsData[i].tag );
          }
          fetch_export_list();
          removeDefault();
    },
    onChipDelete: (event , chip) => {
      $("#product-tbody").html('');
        chip_tags = [];
          for(i=0; i< M.Chips.getInstance($('.chips')).chipsData.length; i++){
            chip_tags.push( M.Chips.getInstance($('.chips')).chipsData[i].tag );
          }
          fetch_export_list();
    }
  });


  $(document).on("click", ".remove-product-modal-btn", function(){
    global_remove_product_pk = this.id.split("-")[1];
   })

   $("#remove-product-btn").click(function(){
      remove_product_from_export_list();
   })

   function remove_product_from_export_list()
   {
      var fd = new FormData();
      fd.append("product_pk", global_remove_product_pk);
      fd.append("export_pk", global_selected_export_pk);

      $.ajax({
        url: "/remove-product-from-export-list/",
        type: "POST",
        headers:{
          'X-CSRFToken':getCsrfToken()
        },
        processData: false,
        contentType: false,
        data: fd,
        success: function(response) {
          console.log("Success!", response);
          if(response["status"]==200)
          {
            M.toast({html:"Product removed from the list"}); 
          } 
          else
          {
            M.toast({html:"Error removing product from the list!"});
          }
          $("#remove-product-modal").modal("close");
          fetch_export_list();
          fetch_export_product_list(global_selected_export_pk);
        },
        error: function(xhr, textstatus, errorthrown) {
          console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
        }
      });
   }



  var global_export_pk;

	function getCsrfToken() {
      var CSRF_TOKEN = $('input[name="csrfmiddlewaretoken"]').val();
      return CSRF_TOKEN;
    }
 

  function fetch_export_list()
  {
    var data = {
      'tags': JSON.stringify(chip_tags),
      'start_date': $("#start-date").val(),
      'end_date': $("#end-date").val(),
    }
    $.ajax({
      url: "/fetch-export-list/",
      type: "POST",
      headers:{
        'X-CSRFToken':getCsrfToken()
      },
      data: data,
      success: function(response) {
        console.log("Success!", response);
        var export_list = response["export_list"];
        var html_string = "";
        
        for(var i=0;i<export_list.length;i++)
        {

          var product_count = export_list[i]["product_count"];
          if(product_count<10)
          {
            product_count = "0"+product_count;
          }

          var export_title = "";
          if(export_list[i]["title"]!=null)
          {
            export_title = export_list[i]["title"].substring(0, 35);
            if(export_list[i]["title"].length>35)
            {
              export_title += "...";
            }
          }

          html_string += `
              <div class="row product_row" style="margin-top: 5px;position: relative;padding: 10px 0px 5px 0px;">   
                            <div class = "col s1 center" style="line-height: 100%;margin: 5px 0px 5px 0px;">    
                               <label class="toggler-wrapper style-25">   
                                      <input id = "`+export_list[i]["pk"]+`" type="checkbox" >    
                                      <div class="toggler-slider">    
                                          <div class="toggler-knob"></div>    
                                      </div>    
                                </label>    
                            </div>    
                             <div>    
                            </div>    
                            <div class = "col s5" style="line-height: 100%;padding-top: 2px;margin: 5px 0px 5px 0px;">    
                                    <div class = "clickable-row" data-href="`+export_list[i]["pk"]+`" style="font-family:'AvenirNext';letter-spacing: 0.5px;font-weight: 100;">   
                                     `+export_title+`    
                                    </div>    
                            </div>    
                            <div class = "col s2" style="line-height: 100%;padding-top: 2px;font-family:'AvenirNext';margin: 5px 0px 5px 0px;color:#521893;">`+product_count+`<i class="material-icons" style="position:absolute;margin-left:0.2em;margin-top:-0.2em;font-size:1.2em;color:#521893;">shopping_basket</i></div>   
                            <div class = "col s2 left" style="line-height: 100%;padding-top: 2px;font-family:'AvenirNextRegular';margin: 5px 0px 5px 0px;">`+export_list[i]["created_date"]+`</div>   
                           <div class = "col s2" style="line-height: 100%;padding-top: 2px;font-family:'AvenirNextRegular';padding-right:15px;text-align:center;"><a class="download-export-list-modal-btn modal-trigger" href="#download-export-list-modal" id="exportmodalbtn-`+export_list[i]["pk"]+`"><i class="material-icons download_btn" style="color: gray;    
                              padding: 4px 4px 4px 4px;   
                              border-color: gray;   
                              /* background-color: gainsboro; */    
                              border-radius: 20px;    
                              border: 1px solid #d2dfeb;    
                              font-size: 15px;">file_download</i></a></div>   
                                                </div>`
        }

        $("#export-list-tbody").html(html_string);
        $('#total-export-list').text(export_list.length);
      },
      error: function(xhr, textstatus, errorthrown) {
        console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
      }
    });
  }



  fetch_export_list();

  $("#add-to-export-btn").click(function(){

    var export_option = $("#export-option").val();
    var export_title_pk = $("#export-titles-list").val();
    var export_title = $("#export-title").val();

    var products = [];
    $('input:checked').each(function() {
      products.push($(this).attr('id').split("-")[1]);
    });
    console.log(products);

    if(products.length==0)
      return;

    $("#add-to-export-btn").attr("disabled", "disabled");

    $.ajax({
      url: "/add-to-export/",
      type: "POST",
      headers:{
        'X-CSRFToken':getCsrfToken()
      },
      data: {
        export_option: export_option,
        export_title_pk: export_title_pk,
        export_title: export_title,
        products: JSON.stringify(products)
      },
      success: function(response) {
        console.log("Success!", response);
        $("#export-modal").modal("close");
        $("#add-to-export-btn").removeAttr("disabled");
        M.toast({html:"Products added to export list successfully!"});
      },
      error: function(xhr, textstatus, errorthrown) {
        console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
      }
    });
  });

  function fetch_export_product_list(export_pk)
  {
    $.ajax({
      url: "/fetch-export-product-list/",
      type: "POST",
      headers:{
        'X-CSRFToken':getCsrfToken()
      },
      data: {
        export_pk: export_pk
      },
      success: function(response) {
        console.log("Success!", response);
        var product_list = response["product_list"];

        var html_string = "";
        for(var i=0;i<product_list.length;i++)
        {
          var char_limit = 20;
          var product_name = ""
          if(product_list[i]["product_name_sap"]!=null)
          {
            product_name = product_list[i]["product_name_sap"].substring(0, char_limit);
            if(product_list[i]["product_name_sap"].length>char_limit)
            {
              product_name += "...";
            }
          }


          html_string += `<div class = "flex-inside">
            <div class="card center">
		<div style="position:relative;">
                <a href="#remove-product-modal" id="removeproduct-`+product_list[i]["product_pk"]+`" class="remove-product-modal-btn modal-trigger right" style="position:absolute;top:4px;right:2px;z-index:100;background-color: transparent;display: block;cursor: pointer;">
        <i class="material-icons redd" title="Remove Product Image" style="
            background-color: transparent;
    padding: 4px;
    color: gray;
    border-radius: 2px;
    margin-left: 4px;
    font-size: 20px;
    margin-right: 4px;
    display: block;
    margin-bottom: 5px;">
         close
        </i>
      </a>
              <img src="`+product_list[i]["product_image_url"]+`" style="height:8em;width:8em;object-fit:cover;"/>  
			</div>
              <div class = "card-text" style = "padding: 2px 2px 2px 0px; transition: 0.15s padding ease-out">    
                 <h6 style="text-align: left;margin-left:10px;color:#521893;font-size:14px;margin-top:0px;"><a target="_blank" href="/edit-product/`+product_list[i]["product_pk"]+`" style="color:black;" title="`+product_list[i]["product_name_sap"]+`">`+product_name +`</a></h6>   
              </div>    
            </div>    
        </div>`
        }
        $("#export-details-tbody").html(html_string);

      },
      error: function(xhr, textstatus, errorthrown) {
        console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
      }
    });
  }



  function download_export_list()
  {
    var export_format = $("#export-format").val();

    $.ajax({
      url: "/download-export-list/",
      type: "POST",
      headers:{
        'X-CSRFToken':getCsrfToken()
      },
      data: {
        export_pk: global_export_pk,
        export_format: export_format
      },
      success: function(response) {
        console.log("Success!", response);
	$("#download-export-list-modal").modal("close");
        var file_path = response["file_path"]
        window.open(file_path);
      },
      error: function(xhr, textstatus, errorthrown) {
        console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
      }
    });
  }

  $(document).on('click', '.clickable-row', function() {
      //console.log($(this).data("href"));
      $("#export-details-modal").modal("open");
      global_selected_export_pk = $(this).data("href");
      fetch_export_product_list($(this).data("href"));
  });

  $(document).on("click", ".download-export-list-modal-btn", function(){
    global_export_pk = this.id.split("-")[1];
  });

  $("#download-export-list-btn").click(function(){
    download_export_list();
  });


  $("#start-date").change(function(){
    check_filter_options()
    fetch_export_list();
  });


  $("#end-date").change(function(){
    check_filter_options()
    fetch_export_list();
  });

  function check_filter_options()
  {
    var start_date = $("#start-date").val();
    var end_date = $("#end-date").val();
    
    if(start_date!="" || end_date!="")
    {
      $("#filter-btn").css("background-color", "#521893");
      $("#filter-btn").css("color", "white");
    }
    else
    {
      $("#filter-btn").css("background-color", "white");
      $("#filter-btn").css("color", "gray");
    }
  }
  
</script>

{% endblock %}
