{% extends 'WAMSApp/console.html' %}

{% block content2 %}

{% load static %}


<div class="row" style="margin-bottom: 0em;background-color: white !important;">
      <div class="input-field col s10 search-input-div" style="padding: 0em;margin-top:0rem;margin-bottom: 0px;">
        <i class="material-icons" style="z-index:100;position: absolute;margin-top: 0.4em;margin-left: 0.5em;color: grey !important;">search</i>

        <div type="text" class="validate white search-input chips chips-placeholder" style="margin:0px;text-indent: 2.5em;box-shadow: none; border: none;outline: none;font-family: 'AvenirNextRegular';font-size: 14px;letter-spacing: 1px;"></div>
      </div>

      <div class="col s2 white user-icon-div">
        <a href="/logout">
          <i class="material-icons power_btn" style="
            position: absolute;
            top: 50%;right: 10%;    
            padding: 5px;   
            color: grey;
            border-radius: 20px;    
            font-size: 18px;    
            border: 1px solid #d2dfeb;
            cursor: pointer">
            settings_power
          </i>
        </a>
        
        <span style="
          margin-left: 2em;    
          position: absolute;   
          top: 60%;   
          left: 6%;   
          color: black;   
          border-left: 1px solid rgba(28,110,164,0.21);   
          padding-left: 18px;   
          font-family: 'AvenirNext';    
          text-transform: capitalize;" title="{{request.user.username}}">
          {{request.user.username|slice:"0:10"}}
        </span>

      </div>
    </div>


    <div class="row" style = "margin : 20px 5px 0px 4px !important;">
      <div class="col s6" style="position: relative;top: 20px;padding-left: 20px;font-family:'AvenirNext';">
        <span id="total-results" style="font-family:'AvenirNext';"></span> Results   
      </div>
    </div>
  
  <div class="row" style = "margin : 20px 5px 0px 4px !important;">

    <div class = "flex-container">

    </div>  

  </div>


  <div class="row">
    <div class="col s12 center">
      <br>
      <a id="load-more-btn" href="#!" class="btn btn-small" style="display: none;background-color: #521893;">Load More</a>
      <br><br>
    </div>
  </div>
 

<div id="new-flyer-modal" class="scroll-style-1 modal">

  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">NEW FLYER</h5>
    <div class="row" style="margin-bottom: 0em;">
      <div class="input-field col s6">
        <input id="flyer-name" type="text" class="validate">
        <label for="flyer-name">Flyer Name</label>
      </div>

      <div class="input-field col s6">
        <select id="flyer-brand">
          <option value="" disabled selected>Choose brand</option>
        </select>
        <label>Brand</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s6">
        <select id="create-option">
          <option value="0" selected>Create Empty</option>
          <option value="1">Upload Excel</option>
        </select>
      </div>

      <div id="empty-option" class="input-field col s6">
        <input id="flyer-items" type="number" class="validate">
        <label for="flyer-items">Number of Products</label>
      </div>

      <div id="excel-option" class="file-field input-field col s6" style="display: none;">
        <div class="btn" style="background-color: #521893;">
          <span>Import Excel</span>
          <input id="excel-file-input" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <select id="columns-per-row">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4" selected>4</option>
          <option value="6">6</option>
          <option value="8">8</option>
        </select>
        <label>Columns per Row</label>
      </div>

      <div class="input-field col s6">
        <select id="grid-item-height">
          <option value="4">4 Very Small Size</option>
          <option value="5">5 Small Size</option>
          <option value="6" selected>6 Medium Size</option>
          <option value="11">11 Long</option>
          <option value="15">15 Very Long</option>
        </select>
        <label>Container Height</label>
      </div>
    </div>

    <div class="row" style="margin-bottom: 0em;">
      <div class="input-field col s6">
        <select id="template-mode">
          <option value="A4 Portrait" selected>A4 Portrait</option>
          <option value="A4 Landscape">A4 Landscape</option>
          <option value="A5 Portrait">A5 Portrait</option>
          <option value="A5 Landscape">A5 Landscape</option>
        </select>
        <label>Template</label>
      </div>
    </div>

    <div id="flyer-import-template-note" class="row" style="margin-bottom: 0em;display: none;">
      <div class="col s12">
        <p><i class="material-icons" style="position: absolute;margin-top: -0.1em;font-size: 1em;">info</i> <span style="margin-left: 1.3em;">Click <a href="/files/csv/flyer-import-template.xlsx" target="_blank">here</a> to download the excel template</span></p>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect btn-flat">Close</a>
    <a id="create-new-flyer-btn" href="#!" class="waves-effect btn-flat white-text" style="background-color: #009051;" >Create</a>
  </div>
</div>


<a href="#new-flyer-modal" class="modal-trigger btn-floating" style="position: fixed;right:1em;bottom:1em;background-color: #521893;"><i class="material-icons">add</i></a>

<script type="text/javascript">

  var page = 1;

  $('.left-li').hover(function(){
      $($(this).find('span')).css('color','white').css('font-family','AvenirNextBold');
      $($(this).find('i')).css('color','white');
  })

  $('.left-li').mouseout(function(){
    $($(this).find('span')).css('color','grey').css('font-family','AvenirNextRegular');
    $($(this).find('i')).css('color','grey');
  })

  
  $('.tabs').tabs();
  $('.modal').modal();
  $('body').css('background-color', '#ebebeb');
  $('select').formSelect();
  var chip_tags = [];
  $('.chips-placeholder').chips({
    placeholder: 'Search by product name, product id or seller sku',
    onChipAdd: (event, chip) => {
          chip_tags = [];
          for(i=0; i< M.Chips.getInstance($('.chips')).chipsData.length; i++){
            chip_tags.push( M.Chips.getInstance($('.chips')).chipsData[i].tag );
          }
          $("#load-more-btn").hide();
          $(".flex-container").html("");
          page = 1;
          fetch_flyer_list();

    },
    onChipDelete: (event , chip) => {
      $("#product-tbody").html('');
        chip_tags = [];
          for(i=0; i< M.Chips.getInstance($('.chips')).chipsData.length; i++){
            chip_tags.push( M.Chips.getInstance($('.chips')).chipsData[i].tag );
          }
          $("#load-more-btn").hide();
          $(".flex-container").html("");
          page = 1;
          fetch_flyer_list();

    }
  });




  function getCsrfToken() {
    var CSRF_TOKEN = $('input[name="csrfmiddlewaretoken"]').val();
    return CSRF_TOKEN;
  }


  function fetch_flyer_list()
  {
    $.ajax({
      url: /fetch-flyer-list/,
      type: "POST",
      headers:{
        'X-CSRFToken':getCsrfToken()
      },
      data: {
        'tags': JSON.stringify(chip_tags),
        'page': page
      },
      success: function(response) {
        console.log("Success!", response);

        var html_string = "";
        var flyer_list = response["flyer_list"];

        for(var i=0;i<flyer_list.length;i++)
        {
          html_string += `<div class = "flex-inside">
          <a href="/flyer/`+ flyer_list[i]["flyer_pk"] +`" target = "_blank">
            <div class="card center">
              <img src="`+flyer_list[i]["flyer_image"]+`" style="width: 10em;height:12em;object-fit:cover;object-position:50% 50%;" />
              <div class = "card-text" style = "padding: 0px 0px 8px 0px; transition: 0.15s padding ease-out">
                 <p style="margin-top:0em;margin-bottom:0em;text-align: left;margin-left:10px;color:#521893;font-size:14px;">`+ flyer_list[i]["flyer_name"] +`</p>
              </div>
            </div></a>
        </div>`
        }
        $(".flex-container").append(html_string);
        
        $('.card').mouseover(function(){
          $($(this).find(".card-text")).addClass("hovered");
        }).mouseout(function(){
          $($(this).find(".card-text")).removeClass("hovered");
        })

        if(response["is_available"])
        {
          $("#load-more-btn").show();
        }

        $("#total-results").html(response["total_results"]);
      },
      error: function(xhr, textstatus, errorthrown) {
        console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
      }
    });
  }

  fetch_flyer_list();


  $("#load-more-btn").click(function(){
    $("#load-more-btn").hide();
    page += 1;
    fetch_flyer_list();
  })

  $("#create-new-flyer-btn").click(function(){    

    var flyer_name = $("#flyer-name").val();
    var flyer_brand = $("#flyer-brand").val();
    var flyer_items = $("#flyer-items").val();
    // var flyer_row = $("#flyer-row").val();
    // var flyer_column = $("#flyer-column").val();
    var import_file = document.getElementById("excel-file-input");
    var mode = $("#template-mode").val();


    var grid_item_height = $("#grid-item-height").val();
    var columns_per_row = $("#columns-per-row").val();

    if(flyer_name=="" || flyer_brand==null || grid_item_height=="")
    {
      M.toast({html: "Please fill the details before creating a flyer"});
      return;
    }

    var create_option =  $("#create-option").val();

    if((create_option=="1" && import_file.files.length==0) || (create_option=="0" && flyer_items==""))
    {
      M.toast({html: "Please fill the details before creating a flyer"});
      return; 
    }

    $("#create-new-flyer-btn").attr("disabled", "disabled");
    
    var fd =  new FormData();
    fd.append('name', flyer_name);
    fd.append('brand_pk', flyer_brand);
    fd.append('flyer_items', flyer_items);
    fd.append('columns_per_row', columns_per_row);
    fd.append('grid_item_height', grid_item_height);
    fd.append('import_file', import_file.files[0]);
    fd.append('create_option', create_option);
    fd.append('mode', mode);

    $.ajax({
      url: "/create-flyer/",
      type: "POST",
      headers:{
        'X-CSRFToken':getCsrfToken()
      },
      processData: false,
      contentType: false,
      data: fd,
      success: function(response) {
        console.log("Success!", response);
        $("#create-new-flyer-btn").removeAttr("disabled");
        if(response["status"]==200)
        {
          window.location.pathname = "/flyer/"+response["flyer_pk"];
        }
        else if(response["status"]==403)
        {
          M.toast({html: "You do not have permission to create flyers!"});
        }
        else
        {
          M.toast({html: "Error creating flyer!"});
        }
      },
      error: function(xhr, textstatus, errorthrown) {
        console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
      }
    });
    
  });


  $("#create-option").change(function(){

    if($("#create-option").val()=="0")
    {
      $("#excel-option").hide();
      $("#empty-option").show();
      $("#flyer-import-template-note").hide();
    }
    else
    {
      $("#empty-option").hide();
      $("#excel-option").show();
      $("#flyer-import-template-note").show();
    }
  });

  function fetch_brands()
  {
    $.ajax({
      url: "/fetch-brands/",
      type: "POST",
      headers:{
        'X-CSRFToken':getCsrfToken()
      },
      data: {},
      success: function(response) {
        console.log("Success!", response);
        if(response["status"]==200)
        {
          var brand_list = response["brand_list"];
          var html_string = "";
          for(var i=0;i<brand_list.length;i++)
          {
            html_string += `
              <option value="`+brand_list[i]["pk"]+`">`+brand_list[i]["name"]+`</option>
            `;
          }
          $("#flyer-brand").append(html_string);
          $("select").formSelect();
        }
      },
      error: function(xhr, textstatus, errorthrown) {
        console.log("Please report this error: "+errorthrown+xhr.status+xhr.responseText);
      }
    });
  }

  fetch_brands();
  
</script>

{% endblock %}