{% extends 'WAMSApp/console.html' %}

{% block content2 %}

{% load static %}

<style type="text/css">
  ul.dropdown-content.select-dropdown li span {
    color: #521893;
    font-size: 14px;
    font-family: 'AvenirNext';
  }

  .select-wrapper input.select-dropdown {
    font-size: 14px;
    font-family: 'AvenirNext';
    color: #521893;
  }

  .filter-parameter {
    color: #521893;
    font-size: 14px;
    font-family: 'AvenirNext';
  }


  .input-field>label {
    color: #521893;
  }

  .input-field input:focus+label {
    color: #521893 !important;
  }

  .input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  .datepicker-date-display .date-text {
    color: white;
    font-size: 22px;
  }

  .datepicker-date-display .year-text {
    color: white;
    font-size: 14px;
  }

  .datepicker-date-display {
    background-color: #521893;
  }

  .datepicker-table td.is-today {
    color: #521893;
  }

  .datepicker-table td.is-selected {
    background-color: #dfccea;
  }

  .datepicker-table td.is-selected {
    color: #521893;
  }

  .datepicker-cancel {
    color: grey;
  }

  .datepicker-done {
    color: #521893;
    font-weight: bolder;
  }

  .exportt:hover {
    background-color: #521893 !important;
    color: white !important;
  }

  .importt:hover {
    background-color: #521893 !important;
    color: white !important;
  }

  .filterr:hover {
    background-color: #521893 !important;
    color: white !important;
  }

  /*.checkbox-verified[type="checkbox"].filled-in:checked + label:after{
   border: 2px solid #521893;
   background-color: #521893;
}*/

  /* Sourav's code channel wise split*/

  .avenir-next {
    font-family: 'AvenirNext';
  }

  .avenir-next-regular {
    font-family: 'AvenirNextRegular';
  }

  .purple-1 {
    color: #521893;
  }

  .margin-zero {
    margin: 0;
  }

  .padding-zero {
    padding: 0;
  }

  .products-collapse-container {
    border: none;
    box-shadow: none;
  }

  .products-collapse-container>li {
    border: none !important;
    box-shadow: none;
    margin-bottom: 10px;
  }

  .collapsible-header {
    border: none;
    border-radius: 5px;
  }

  .collapsible-header .col {
    padding: 0;
  }

  .collapsible-header .row {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .collapsible-header i {
    margin-left: 30px;
  }

  .collapsible-header .toggler-container {
    padding: 0;
  }

  .product-name-container {
    display: flex;
  }

  .product-info {
    width: 85%;
  }

  .product-img {
    width: 3em;
    height: 3em;
  }

  .product-info .title {
    font-family: 'AvenirNext';
    letter-spacing: 0.5px;
    font-weight: 100;
    color: black;
    margin: 0;
  }

  .product-info .subtitle {
    font-family: 'AvenirNextRegular';
    font-size: 12px;
    color: gray;
    letter-spacing: 1px;
    margin: 0;
  }

  .collapsible-body {
    border: none;
    background-color: white;
    margin-top: 2px;
    border-radius: 5px;
    padding: .5rem .5rem 0 .5rem;
  }

  .edit-icon {
    color: gray;
  }

  .collapsible-body-row {
    border-bottom: 2px solid #F7F7F7;
    display: flex;
    align-items: center;
  }

  .base-product-modal-label {
    color: black;
  }

  .base-product-modal-label span {
    color: #009051;
  }

  .width-50 {
    width: 50%;
  }

  .width-100 {
    width: 100%;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .flex-inside {}
</style>

<div class="row" style="margin-bottom: 0em;background-color: white !important;">
  <div class="input-field col s10 search-input-div" style="padding: 0em;margin-top:0rem;margin-bottom: 0px;">
    <i class="material-icons"
      style="z-index:100;position: absolute;margin-top: 0.4em;margin-left: 0.5em;color: grey !important;">search</i>

    <div type="text" class="validate white search-input chips chips-placeholder"
      style="margin:0px;text-indent: 2.5em;box-shadow: none; border: none;outline: none;font-family: 'AvenirNextRegular';font-size: 14px;letter-spacing: 1px;">
    </div>
  </div>

  <div class="col s2 white user-icon-div">
    <a href="/logout">
      <i class="material-icons power_btn" style="
          position: absolute;
          top: 50%;right: 10%;    
          padding: 5px;   
          color: grey;
          border-radius: 20px;    
          font-size: 18px;    
          border: 1px solid #d2dfeb;
          cursor: pointer">
        settings_power
      </i>
    </a>

    <span style="
        margin-left: 2em;    
        position: absolute;   
        top: 60%;   
        left: 6%;   
        color: black;   
        border-left: 1px solid rgba(28,110,164,0.21);   
        padding-left: 18px;   
        font-family: 'AvenirNext';    
        text-transform: capitalize;" title="{{request.user.username}}">
      {{request.user.username|slice:"0:10"}}
    </span>

  </div>
</div>

<!-- <div class="row" style="margin-top: 1em;">
    <div class="input-field col s1">
      <label>
        <input id="status-verified" type="checkbox" />
        <span>Verified</span>
      </label>
    </div>

    <div class="input-field col s2">
      <input id="start-date" type="text" class="datepicker">
      <label for="start-date">Start Date</label>
    </div>
    <div class="input-field col s2">
      <input id="end-date" type="text" class="datepicker">
      <label for="end-date">End Date</label>
    </div>

    <div class="input-field col s2">
      <select id="brand-select">
      </select>
    </div>

    <div class="input-field col s2">
      <select id="has-image-select">
        <option value="" selected>All</option>
        <option value="1">With Images</option>
        <option value="2">Without Images</option>
      </select>
    </div>

    <div class="input-field col s1">
      <input id="min-price" type="number" class="validate">
      <label for="min-price">Min Price</label>
    </div>

    <div class="input-field col s1">
      <input id="max-price" type="number" class="validate">
      <label for="max-price">Max Price</label>
    </div>

  </div> -->


<div class="row" style="margin : 20px 5px 0px 4px !important;">
  <div class="col s6" style="position: relative;top: 20px;padding-left: 0px;font-family:'AvenirNext';">
    <span id="total-products" style="font-family:'AvenirNext';"></span> Results
  </div>

  <div class="col s6" style="margin-bottom: 4px;padding-right:0px;">
    <a id="export-btn" href="#export-modal" class="modal-trigger right">
      <i class="material-icons exportt" title="Export" style="
          color:gray;
          background-color: white;
          padding: 11px;
          border-radius: 5px;
          margin-left: 8px;
          font-size: 18px;">
        dynamic_feed
      </i>
    </a>

    <a id="import-btn" href="#import-modal" class="modal-trigger right">
      <i class="material-icons importt" title="Import" style="
          color: gray;
          background-color: white;
          padding: 11px;
          border-radius: 5px;
          margin-left: 8px;
          font-size: 18px;">
        merge_type
      </i>
    </a>


    <a id="filter-btn" href="#filter-modal" class="filterr modal-trigger waves-effect waves-light right" style="
        position: relative;
        padding: 12px 30px 10px;   
        color: gray;    
        border-radius: 5px;   
        font-size: 13px;    
        background-color: white;
        font-family: 'AvenirNextRegular';
        letter-spacing: 1px;">
      Filter
    </a>
  </div>

  <div class="col s12">

    <div style="margin-top: 15px;">
      <div class="row product_row" style="margin-bottom: 10px;">
        <div class="col s1 center avenir-next ">
          <label class="toggler-wrapper style-25">
            <input id="all-select-checkbox" type="checkbox">
            <div class="toggler-slider">
              <div class="toggler-knob"></div>
            </div>
          </label>
        </div>

        <div class="col s4 avenir-next purple-1">Product
          Name</div>
        <div class="col s2 center avenir-next purple-1">
          Brand</div>
        <div class="col s2 center avenir-next purple-1">
          Date Created</div>
        <div class="col s3 center avenir-next purple-1">Status
        </div>
      </div>
    </div>
    <div id="product-table">
    </div>

  </div>

</div>

<div class="row">
  <div class="col s12 center">
    <br>
    <a id="load-more-btn" href="#!" class="btn btn-small" style="display: none;background-color: #521893;">Load More</a>
    <br><br>
  </div>
</div>

<div id="export-modal" class="modal" style="border-radius:5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">EXPORT PRODUCTS</h5>
    <br>
    <div class="row">
      <div class="input-field col s6">
        <select id="export-option">
          <option value="New" selected style="font-family: 'AvenirNextRegular';">New</option>
          <option value="Existing" style="font-family: 'AvenirNextRegular';">Existing</option>
        </select>
        <label>Existing/New</label>
      </div>

      <div class="input-field col s6" id="new-export-div">
        <input id="export-title" type="text" class="validate">
        <label for="export-title">Export Title</label>
      </div>

      <div class="input-field col s6" id="existing-export-div" style="display: none;">
        <select id="export-titles-list">
        </select>
        <label>Choose List</label>
      </div>

    </div>
  </div>
  <div class="modal-footer" style="margin-bottom: 20px;">
    <a href="#!" class="modal-close waves-effect btn-flat" style="font-family: 'AvenirNext';">Close</a>
    <a id="add-to-export-btn" class="waves-effect btn-flat white-text"
      style="font-family: 'AvenirNext';background-color: #521893;border-radius: 2px;margin-right: 30px;">Add</a>
  </div>
</div>



<div id="create-new-base-product-modal" class="modal" style="border-radius:5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">NEW BASE PRODUCT</h5>
    <br>
    <div class="row">

      <div class="input-field col s12">
        <input id="product-name" type="text" class="validate">
        <label for="product-name" style="color:black;">Product Name<span style="color:#009051;">*</span></label>
      </div>

      <div class="input-field col s12">
        <input id="seller-sku" type="text" class="validate">
        <label for="seller-sku" style="color:black;">Seller SKU<span style="color:#009051;">*</span></label>
      </div>

      <div class="input-field col s12">
        <input id="brand-name" type="text" class="validate">
        <label for="brand-name" style="color:black;">Brand<span style="color:#009051;">*</span></label>
      </div>
    </div>

  </div>
  <div class="modal-footer" style="margin-bottom: 20px;">
    <a href="#!" class="modal-close waves-effect btn-flat" style="font-family: 'AvenirNext';">Close</a>
    <a id="create-new-product-btn" href="#!" class="waves-effect btn-flat white-text"
      style="font-family: 'AvenirNext';border-radius: 2px;margin-right: 30px;background-color: #521893">Create</a>
  </div>
</div>



<div id="create-new-channel-product-modal" class="modal" style="border-radius:5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">NEW CHANNEL PRODUCT</h5>
    <br>
    <div class="row">

      <div class="input-field col s12">
        <input id="product-id" type="text" class="validate">
        <label for="product-id" style="color:black;">Product ID<span style="color:#009051;">*</span></label>
      </div>

      <div class="input-field col s12">
        <select>
          <option value="amazon-uk">Amazon UK</option>
          <option value="amazon-uae">Amazon UAE</option>
          <option value="ebay">Ebay</option>
          <option value="noon">Noon</option>
        </select>
        <label>Channel</label>
      </div>
    </div>

  </div>
  <div class="modal-footer" style="margin-bottom: 20px;">
    <a href="#!" class="modal-close waves-effect btn-flat" style="font-family: 'AvenirNext';">Close</a>
    <a id="create-new-product-btn" href="#!" class="waves-effect btn-flat white-text"
      style="font-family: 'AvenirNext';border-radius: 2px;margin-right: 30px;background-color: #521893">Create</a>
  </div>
</div>

<div id="edit-base-product-modal" class="modal" style="border-radius:5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">Edit Base Product</h5>
    <br>
    <div class="row">

      <div class="input-field col s6">
        <input id="product-name" type="text" class="validate">
        <label class="base-product-modal-label" for="product-name">Product Name<span>*</span></label>
      </div>

      <div class="input-field col s6">
        <input id="seller-sku" type="text" class="validate">
        <label class="base-product-modal-label" for="seller-sku">Seller SKU<span>*</span></label
          class="base-product-modal-label">
      </div>

      <div class="input-field col s6">
        <select>
          <option value="" disabled selected>Brand</option>
          <option value="1">Geepas</option>
          <option value="2">Royalford</option>
          <option value="3">Olsenmark</option>
        </select>
      </div>

      <div class="input-field col s6">
        <input id="product-name" type="text" class="validate">
        <label class="base-product-modal-label" for="product-name">Manufacturer<span>*</span></label>
      </div>

      <div class="input-field col s12">
        <input id="seller-sku" type="text" class="validate width-50">
        <label class="base-product-modal-label" for="seller-sku">Part Name<span>*</span></label
          class="base-product-modal-label">
      </div>

      <div class="col s12 margin-zero">
        <div class="flex-container">
          <div class="flex-inside">
            <a href="/flyer/1" target="_blank">
              <div class="card center">
                <img src="https://wig-wams-s3-bucket.s3.amazonaws.com/default_image.jpeg"
                  style="width: 10em;height:12em;object-fit:cover;object-position:50% 50%;">
                <div class="card-text" style="padding: 0px 0px 8px 0px; transition: 0.15s padding ease-out">
                  <p
                    style="margin-top:0em;margin-bottom:0em;text-align: left;margin-left:10px;color:#521893;font-size:14px;">
                    Red Duster</p>
                </div>
              </div>
            </a>
          </div>
          <div class="flex-inside">
            <a href="/flyer/1" target="_blank">
              <div class="card center">
                <img src="https://wig-wams-s3-bucket.s3.amazonaws.com/default_image.jpeg"
                  style="width: 10em;height:12em;object-fit:cover;object-position:50% 50%;">
                <div class="card-text" style="padding: 0px 0px 8px 0px; transition: 0.15s padding ease-out">
                  <p
                    style="margin-top:0em;margin-bottom:0em;text-align: left;margin-left:10px;color:#521893;font-size:14px;">
                    Blue Duster</p>
                </div>
              </div>
            </a>
          </div>
          <div class="flex-inside">
            <a href="/flyer/1" target="_blank">
              <div class="card center">
                <img src="https://wig-wams-s3-bucket.s3.amazonaws.com/default_image.jpeg"
                  style="width: 10em;height:12em;object-fit:cover;object-position:50% 50%;">
                <div class="card-text" style="padding: 0px 0px 8px 0px; transition: 0.15s padding ease-out">
                  <p
                    style="margin-top:0em;margin-bottom:0em;text-align: left;margin-left:10px;color:#521893;font-size:14px;">
                    Green Duster</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer" style="margin-bottom: 20px;">
    <a href="#!" class="modal-close waves-effect btn-flat" style="font-family: 'AvenirNext';">Close</a>
    <a id="create-new-product-btn" href="#!" class="waves-effect btn-flat white-text"
      style="font-family: 'AvenirNext';border-radius: 2px;margin-right: 30px;background-color: #521893">Save</a>
  </div>
</div>


<div id="import-modal" class="modal" style="border-radius:5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">IMPORT ITEMS</h5>
    <br>
    <div class="row">
      <div class="input-field col s6 dropdown_spam">
        <select id="import-format">
          <option value="Amazon UK" selected>Amazon UK</option>
          <option value="Amazon UAE">Amazon UAE</option>
        </select>
        <label>Format</label>
      </div>


      <div class="input-field col s6 dropdown_spam">
        <select id="import-rule">
          <!-- <option value="Full" selected>Full Overwrite</option> -->
          <option value="Partial">Partial Overwrite</option>
          <option value="Missing">Add to missing values only</option>
        </select>
        <label>Import Rule</label>
      </div>


      <div class="file-field input-field col s12">
        <div class="btn" style="background-color: #521893">
          <span style="font-family: 'AvenirNext';color: white !important;">file</span>
          <i class="material-icons right">call_merge</i>
          <input id="import-file" type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <div class="col s12">
        <div id="loader-bar" class="progress" style="display: none;">
          <div class="indeterminate"></div>
        </div>
      </div>

    </div>
  </div>
  <div class="modal-footer" style="margin-bottom: 20px;">
    <a href="#!" class="modal-close waves-effect btn-flat" style="font-family: 'AvenirNext';">Close</a>
    <a id="import-upload-btn" href="#!" class="waves-effect btn-flat white-text"
      style="font-family: 'AvenirNext';border-radius: 2px;margin-right: 30px;background-color: #521893">Upload</a>
  </div>
</div>



<div id="filter-modal" class="modal" style="border-radius:5px;">
  <div class="modal-content">
    <h5 style="font-family: 'AvenirNext';font-size: 18px;">FILTER</h5>

    <div class="row" style="margin-bottom: 0em;">
      <div class="input-field col s4">
        <label>
          <input id="status-verified" class="filled-in" type="checkbox" />
          <span class="filter-parameter">Verified</span>
        </label>
      </div>

      <div class="input-field col s4">
        <select id="brand-select">
        </select>
      </div>


      <div class="input-field col s4">
        <select id="has-image-select">
          <option value="" selected>All</option>
          <option value="1">With Images</option>
          <option value="2">Without Images</option>
        </select>
      </div>
    </div>

    <div class="row" style="margin-bottom: 0em;">
      <div class="input-field col s4">
        <input id="start-date" type="text" class="datepicker">
        <label for="start-date" class="filter-parameter">Start Date</label>
      </div>
      <div class="input-field col s4">
        <input id="end-date" type="text" class="datepicker">
        <label for="end-date" class="filter-parameter">End Date</label>
      </div>
    </div>

    <div class="row" style="margin-bottom: 0em;">
      <div class="input-field col s4">
        <input id="min-price" type="number" class="validate">
        <label for="min-price" class="filter-parameter">Min Price</label>
      </div>

      <div class="input-field col s4">
        <input id="max-price" type="number" class="validate">
        <label for="max-price" class="filter-parameter">Max Price</label>
      </div>

    </div>


  </div>
  <div class="modal-footer" style="margin-bottom: 20px;">
    <a href="#!" class="modal-close waves-effect btn-flat" style="font-family: 'AvenirNext';">Close</a>
    <a id="apply-btn" href="#!" class="modal-close waves-effect btn-flat white-text"
      style="font-family: 'AvenirNext';background-color: #521893;border-radius: 2px;margin-right: 30px;">Apply</a>
  </div>
</div>

{% if perms.WAMSApp.add_product %}
<div class="fixed-action-btn">
  <a class="btn-floating btn-large" style="background-color: #521893;">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a href="#create-new-base-product-modal" class="btn-floating green modal-trigger"><i class="material-icons">add</i></a></li>
    <li><a href="#create-new-channel-product-modal" class="btn-floating blue modal-trigger"><i class="material-icons">add</i></a></li>
  </ul>
</div>
<!-- <a href="#create-new-product-modal" class="modal-trigger btn-floating"
  style="position: fixed;right:1em;bottom:1em;background-color: #521893"><i class="material-icons">add</i></a> -->
{% endif %}




<!-- <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
      {
        "vars": {
          "gtag_id": "UA-153774713-1",
          "config": {
            "UA-153774713-1": { "groups": "default" }
          }
        },
        "triggers": {
          "button": {
            "selector": "#the-button",
            "on": "click",
            "vars": {
              "event_name": "login",
              "method": "Google"
            }
          }
        }
      }
    </script>
  </amp-analytics> -->








<script type="text/javascript">

  $('.fixed-action-btn').floatingActionButton();

  var page = 1;

  function removeDefault() {
    let countchip = $('.chip').length;
    if (countchip > 0) {
      $('input').attr("placeholder", "");
    }
  }

  function addDefault() {
    let countchip = $('.chip').length;
    console.log(countchip);
    if (countchip == 0) {
      $($('input')[0]).attr("placeholder", "Search by product name, product id or seller sku");
    }
  }

  var chip_tags = [];
  $('.chips-placeholder').chips({
    placeholder: 'Search by product name, product id or seller sku',
    onChipAdd: (event, chip) => {
      chip_tags = [];
      for (i = 0; i < M.Chips.getInstance($('.chips')).chipsData.length; i++) {
        chip_tags.push(M.Chips.getInstance($('.chips')).chipsData[i].tag);
      }
      page = 1;
      fetch_product_list();
      removeDefault();
    },
    onChipDelete: (event, chip) => {
      chip_tags = [];
      for (i = 0; i < M.Chips.getInstance($('.chips')).chipsData.length; i++) {
        chip_tags.push(M.Chips.getInstance($('.chips')).chipsData[i].tag);
      }
      page = 1;
      fetch_product_list();
      //addDefault();
    }
  });

  var load_more_flag = false;

  var filter_parameters = {}

  $("#status-verified").change(function (e) {
    check_filter_options();
    page = 1;
    fetch_product_list();
  })


  function getCsrfToken() {
    var CSRF_TOKEN = $('input[name="csrfmiddlewaretoken"]').val();
    return CSRF_TOKEN;
  }


  function fetch_export_list() {
    $.ajax({
      url: "/fetch-export-list/",
      type: "POST",
      headers: {
        'X-CSRFToken': getCsrfToken()
      },
      data: {},
      success: function (response) {
        console.log("Success!", response);
        var export_list = response["export_list"];
        var html_string = "";
        for (var i = 0; i < export_list.length; i++) {
          html_string += `<option value="` + export_list[i]["pk"] + `">` + export_list[i]["title"] + `</option>`;
        }
        $("#export-titles-list").html(html_string);
        $('select').formSelect();
      },
      error: function (xhr, textstatus, errorthrown) {
        console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
      }
    });
  }

  $("#export-btn").click(function () {
    fetch_export_list();
  });


  $("input[id=all-select-checkbox]").on("change", function () {
    if ($("input[id=all-select-checkbox]:checked").length == 1) {
      $("input[class=product-checkmark]").prop("checked", true);
    }
    else {
      $("input[class=product-checkmark]").prop("checked", false);
    }
  });

  $("#add-to-export-btn").click(function () {

    var export_option = $("#export-option").val();
    var export_title_pk = $("#export-titles-list").val();
    var export_title = $("#export-title").val().trim();

    if (export_title == "" && export_option == "New") {
      M.toast({ html: "Export Title cannot remain empty!" });
      return;
    }

    var products = [];
    $('input[class=product-checkmark]:checked').each(function () {
      products.push($(this).attr('id').split("-")[1]);
    });
    console.log(products);

    if (products.length == 0)
      return;

    $("#add-to-export-btn").attr("disabled", "disabled");

    $.ajax({
      url: "/add-to-export/",
      type: "POST",
      headers: {
        'X-CSRFToken': getCsrfToken()
      },
      data: {
        export_option: export_option,
        export_title_pk: export_title_pk,
        export_title: export_title,
        products: JSON.stringify(products)
      },
      success: function (response) {
        console.log("Success!", response);
        $("#export-modal").modal("close");
        $("#add-to-export-btn").removeAttr("disabled");

        if (response["status"] == 200) {
          M.toast({ html: "Products added to export list successfully!" });
        }
        else if (response["status"] == 403) {
          M.toast({ html: "You do not have permission to add products to export list!" });
        }
        else {
          M.toast({ html: "Error adding products to export list!" });
        }
      },
      error: function (xhr, textstatus, errorthrown) {
        console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
      }
    });
  });

  $("#export-option").on('change', function () {
    if ($("#export-option").val() == "Existing") {
      $("#new-export-div").hide();
      $("#existing-export-div").show();
    }
    else {
      $("#existing-export-div").hide();
      $("#new-export-div").show();
    }
  });

  function getStatus(e) {
    if (e == "Pending") {
      return `<a><i id = "pending-icon" class = "material-icons" title = "Pending" style = "
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-left: 8px;
    font-size: 20px;
    margin-right: 9px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 1.4;
    background: orange;
    color: white;
    margin: auto;
    position: relative;
    top: 1px;
      " >
        timer
      </i></a>`
    }
    return `<i id = "pending-icon" class = "material-icons" title = "Verified" style = "
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-left: 8px;
    font-size: 20px;
    margin-right: 9px;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 1.4;
    background: green;
    color: white;
    margin: auto;
    position: relative;
    top: 1px;
      " > 
        verified_user
      </i>`;
  }

  function fetch_product_list() {
    filter_parameters['verified'] = $("#status-verified").is(":checked");
    filter_parameters["start_date"] = $("#start-date").val();
    filter_parameters["end_date"] = $("#end-date").val();
    filter_parameters["brand_pk"] = $("#brand-select").val();
    filter_parameters["has_image"] = $("#has-image-select").val();
    filter_parameters["min_price"] = $("#min-price").val();
    filter_parameters["max_price"] = $("#max-price").val();

    // if (filter_parameters['verified']){
    //   page = 1;
    // }

    $.ajax({
      url: "/fetch-product-list/",
      type: "POST",
      headers: {
        'X-CSRFToken': getCsrfToken()
      },
      data: {
        page: page,
        filter_parameters: JSON.stringify(filter_parameters),
        tags: JSON.stringify(chip_tags)
      },
      success: function (response) {
        console.log("Success!", response);

        var is_available = response["is_available"];

        $("#total-products").html(response["total_products"]);

        var products = response["products"];

        var html_string = "";

        for (var i = 0; i < products.length; i++) {
          var img_tag = "";
          if (products[i]["main_image"] != "") {
            img_tag = `<img src="` + products[i]["main_image"] + `" style="height:3em;width:3em;">`;
          }

          var product_name = products[i]["product_name_amazon_uk"].substring(0, 30);
          if (products[i]["product_name_amazon_uk"].length > 30) {
            product_name += "...";
          }

          status_str = getStatus(products[i]["status"]);

          html_string += `
              
              <ul class="collapsible row products-collapse-container" style="margin-bottom:0em;">
                <li style="margin-bottom:0em;">
                  <div class="collapsible-header" >
                    <div class="row ">
                      <div class="col s1 toggler-container">
                        <label class="toggler-wrapper style-25">
                          <input class="product-checkmark" id = "checkmark-`+ products[i]["product_pk"] + `" type="checkbox" >
                          <div class="toggler-slider">
                            <div class="toggler-knob"></div>
                          </div>
                        </label>  
                      </div>
                      <div class="col s4">
                        <div class = "product-name-container">
                          <div class="product-img">
                            `+ img_tag + `
                          </div>
                          <div class="product-info">
                            <p class="title">
                              `+ product_name + `
                            </p>
                            <p class="subtitle">
                              `+ products[i]["product_id"] + ` | ` + products[i]["seller_sku"] + `
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="col s2 avenir-next-regular center-align">
                        `+ products[i]["brand"] + `
                      </div>
                      <div class="col s2 avenir-next-regular center-align">
                        `+ products[i]["created_date"] + `
                      </div>
                      <div class="col s3  center-align">
                        <a href="#edit-base-product-modal" class="modal-trigger">
                          <i class="material-icons edit-icon">edit</i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="collapsible-body">
                      <div class="row margin-zero collapsible-body-row">
                        <div class="col s1 avenir-next purple-1 center-align">
                          <p>
                            Sr
                          </p>
                        </div>
                        <div class="col s3 avenir-next purple-1 center-align">
                          <p>
                            Product Id
                          </p>
                        </div>
                        <div class="col s3 avenir-next purple-1 center-align">
                          <p>
                            Product Name
                          </p>
                        </div>
                        <div class="col s3 avenir-next purple-1 center-align">
                          <p>
                            Channel
                          </p>
                        </div>
                        <div class="col s2 avenir-next purple-1 center-align">
                          <p>
                            Action
                          </p>
                        </div>
                      </div>
                      <div class="row margin-zero collapsible-body-row">
                        <div class="col s1 avenir-next avenir-next-regular center-align">
                          <p>
                            01
                          </p>
                        </div>
                        <div class="col s3 avenir-next avenir-next-regular center-align">
                          <p>
                            XYZ-ID
                          </p>
                        </div>
                        <div class="col s3 avenir-next avenir-next-regular center-align">
                          <p>
                            Product 1
                          </p>
                        </div>
                        <div class="col s3 avenir-next avenir-next-regular center-align">
                          <p>
                            Amazon UAE
                          </p>
                        </div>
                        <div class="col s2 center-align">
                          <i class="material-icons edit-icon">edit</i>
                        </div>
                      </div>


                      <div class="row margin-zero collapsible-body-row">
                        <div class="col s1 avenir-next avenir-next-regular center-align">
                          <p>
                            02
                          </p>
                        </div>
                        <div class="col s3 avenir-next avenir-next-regular center-align">
                          <p>
                            XYZ-ID
                          </p>
                        </div>
                        <div class="col s3 avenir-next avenir-next-regular center-align">
                          <p>
                            Product 2
                          </p>
                        </div>
                        <div class="col s3 avenir-next avenir-next-regular center-align">
                          <p>
                            Amazon UK
                          </p>
                        </div>
                        <div class="col s2 center-align">
                          <i class="material-icons edit-icon">edit</i>
                        </div>
                      </div>

                  </div>
                </li>
            </ul>   
              
              `
        }

        if (load_more_flag == true) {
          $("#product-table").append(html_string);
          load_more_flag = false;
        }
        else {
          $("#product-table").html(html_string);
        }
        $('.collapsible').collapsible();

        if (is_available == true) {
          $("#load-more-btn").show();
        }
        else {
          $("#load-more-btn").hide();
        }

      },
      error: function (xhr, textstatus, errorthrown) {
        console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
      }
    });
  }

  $(document).on('click', '.clickable-row', function () {
    window.location = $(this).data("href");
  });

  //fetch_product_list();


  $("#load-more-btn").click(function () {
    page++;
    $("#load-more-btn").hide();
    fetch_product_list();
    load_more_flag = true;
  });




  $("#import-upload-btn").click(function () {

    var import_format = $("#import-format").val();
    var import_rule = $("#import-rule").val();
    var import_file = document.getElementById("import-file");

    var fd = new FormData();

    fd.append('import_format', import_format);
    fd.append('import_rule', import_rule);
    fd.append('import_file', import_file.files[0]);

    $("#import-upload-btn").attr("disabled", "disabled");

    $("#loader-bar").show();

    $.ajax({
      url: "/import-products/",
      type: "POST",
      headers: {
        'X-CSRFToken': getCsrfToken()
      },
      processData: false,
      contentType: false,
      data: fd,
      success: function (response) {
        console.log("Success!", response);
        $("#import-upload-btn").removeAttr("disabled");
        $("#loader-bar").hide();
        if (response["status"] == 200) {
          $("#import-modal").modal("close");
          window.location.reload();
        }
        else if (response["status"] == 403) {
          M.toast({ html: "You do not have permission to import products!" });
        }
        else {
          M.toast({ html: "Error importing products!" });
        }
      },
      error: function (xhr, textstatus, errorthrown) {
        console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
      }
    });

  });


  $("#start-date").change(function () {
    check_filter_options();
    fetch_product_list();
  });


  $("#end-date").change(function () {
    check_filter_options();
    fetch_product_list();
  });


  function fetch_brands() {
    $.ajax({
      url: "/fetch-brands/",
      type: "POST",
      headers: {
        'X-CSRFToken': getCsrfToken()
      },
      data: {

      },
      success: function (response) {
        console.log("Success!", response);
        if (response["status"] == 200) {
          var html_string = "<option value='' selected>Brand</option>";
          var brand_list = response["brand_list"];
          for (var i = 0; i < brand_list.length; i++) {
            html_string += `<option value="` + brand_list[i]["pk"] + `">` + brand_list[i]["name"] + `</option>`;
          }
          $("#brand-select").html(html_string);
          $("select").formSelect();

          var autocomplete_data = {};
          for (var i = 0; i < brand_list.length; i++) {
            autocomplete_data[brand_list[i]["name"]] = null;
          }

          $('#brand-name').autocomplete({
            data: autocomplete_data
          });

          fetch_product_list();
        }
      },
      error: function (xhr, textstatus, errorthrown) {
        console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
      }
    });
  }

  fetch_brands();

  $("#brand-select").change(function () {
    check_filter_options();
    fetch_product_list();
  });

  $("#has-image-select").change(function () {
    check_filter_options();
    fetch_product_list();
  });

  $("#min-price").change(function () {
    check_filter_options();
    fetch_product_list();
  });

  $("#max-price").change(function () {
    check_filter_options();
    fetch_product_list();
  });


  function create_new_product() {
    var product_name = $("#product-name").val().trim();
    var seller_sku = $("#seller-sku").val().trim();
    var brand_name = $("#brand-name").val().trim();

    if (product_name == "" || seller_sku == "" || brand_name == "") {
      M.toast({ html: "Please fill all the details before creating new product" });
      return;
    }

    $.ajax({
      url: "/create-new-product/",
      type: "POST",
      headers: {
        'X-CSRFToken': getCsrfToken()
      },
      data: {
        product_name: product_name,
        seller_sku: seller_sku,
        brand_name: brand_name
      },
      success: function (response) {
        console.log("Success!", response);
        if (response["status"] == 200) {
          window.location.href = "/edit-product/" + response["product_pk"];
        }
        else if (response["status"] == 409) {
          M.toast({ html: "Duplicate product detected!" });
        }
        else if (response["status"] == 403) {
          M.toast({ html: "You do not have permission to create products!" });
        }
        else {
          M.toast({ html: "Internal Server Error!" });
        }
      },
      error: function (xhr, textstatus, errorthrown) {
        console.log("Please report this error: " + errorthrown + xhr.status + xhr.responseText);
      }
    });
  }

  $("#create-new-product-btn").click(function () {
    create_new_product();
  });

  function check_filter_options() {
    var brand_select = $("#brand-select").val();
    var has_image_select = $("#has-image-select").val();
    var start_date = $("#start-date").val();
    var end_date = $("#end-date").val();
    var min_price = $("#min-price").val();
    var max_price = $("#max-price").val();
    var is_verified = $("#status-verified").is(":checked");

    if (brand_select != "" || has_image_select != "" || start_date != "" || end_date != "" || min_price != "" || max_price != "" || is_verified != false) {
      $("#filter-btn").css("background-color", "#521893");
      $("#filter-btn").css("color", "white");
    }
    else {
      $("#filter-btn").css("background-color", "white");
      $("#filter-btn").css("color", "gray");
    }
  }


</script>

{% endblock %}