<div class="row ">
                        <div class="col s1 toggler-container margin-left-zero left">
                          <label class="toggler-wrapper style-25">
                            <input class="product-checkmark" id = "checkmark-`+ products[i]["product_pk"] + `" type="checkbox" >
                             <div class="toggler-slider" style="margin-left: 5px;">
                              <div class="toggler-knob"></div>
                            </div>
                          </label>                
                        </div>
                        <div class="col s2 margin-left-zero left padd-right drop-it">
                          <div class = "thumbnail_container inline-block">
                            <img src = "{% static 'WAMSApp/img/thumbnail.jpeg' %}" class = "thumbnail-img" />
                          </div>
                          <div class = "product-name-container inline-block">
                            <div class="product-info">
                              <p id="base-product-name-`+base_product_pk+`" class="title small-font">
                                `+ product_name + `   
                              </p>
                              <p id="seller-sku-`+base_product_pk+`" class="subtitle subtitle-font">
                                `+ products[i]["seller_sku"] + `
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="brand-name-`+base_product_pk+`" class="col s1 avenir-next-regular margin-left-zero left small-font padd-right">
                          `+ products[i]["brand_name"] + `
                        </div>
                         <div id="brand-name-`+base_product_pk+`" class="col s1 avenir-next-regular margin-left-zero left small-font padd-right">
                          2
                        </div>
                         <div id="brand-name-`+base_product_pk+`" class="col s1 avenir-next-regular margin-left-zero left small-font padd-right">
                          2
                        </div>
                         <div id="brand-name-`+base_product_pk+`" class="col s2 avenir-next-regular margin-left-zero left small-font padd-right">
                              warehouse demo
                        </div>
                          <div class="col s2 avenir-next-regular margin-left-zero left small-font padd-right">
                                123,ASD
                        </div>
                          <div class="col s2  avenir-next-regular margin-left-zero left small-font padd-right">
                                 
                                <div class = "inline-block">
                                    <span style = "font-size:10px;margin-up:0px !important;margin-down:0px !important;">1P | 3V</span>
                                    <br/>
                                    <span style = "font-size:10px;margin-up:0px !important;margin-down:0px !important;">4P | 9P</span>
                                </div>


                                  <a class="status-btn" base_product_pk = '`+base_product_pk+`' href="#edit-base-product-modal" style="position:relative;" class="">
                                <i class="material-icons statusbtn" title="Import" style="
                                    color: black;
                                    background-color: #FFFBA3;
                                    padding: 6px;
                                    border-radius: 5px;
                                    position:relative;
                                    bottom:9px;
                                    margin-left:30px !important; 
                                    font-size: 10px;">
                                  border_color
                                </i>
                              </a>

                                 <a class="status-btn" base_product_pk = '`+base_product_pk+`' href="#create-new-base-product-modal" class="">
                                <i class="material-icons statusbtn" title="Import" style="
                                    color: white;
                                    background-color: #677EFF;
                                    padding: 6px;
                                    border-radius: 5px;
                                    position:relative;
                                    bottom:9px; 
                                    margin-left:0px !important; 
                                    font-size: 10px;">
                                 add_circle_outline
                                </i>
                              </a>




                              uae evay noon
                          

                        </div>
                       
                      </div>

                      <div class = "toggle_btw_forms">
                      <div id = "toggle_btw_forms1" style = "display: none;">
                          <div class="input-field col s12 m6">
                              <input placeholder="" disabled id="uae-sidenav-product-name" type="text">
                              <label for="uae-sidenav-product-name">Product Name</label>
                          </div>
                          <div class="input-field col s12 m6">
                              <input placeholder="" disabled id="uae-sidenav-feed-product-type" type="text">
                              <label for="uae-sidenav-feed-product-type">Product Type</label>
                          </div>
                          <div class="input-field col s12 m6">
                            <input placeholder="" disabled id="uae-sidenav-update-delete" type="text">
                            <label for="uae-sidenav-update-delete">Update Delete</label>
                          </div>
                          <div class="input-field col s12 m6">
                            <input placeholder="" disabled id="uae-sidenav-recommended-browse-nodes" type="text">
                            <label for="uae-sidenav-recommended-browse-nodes">Recommended Browse Nodes</label>
                          </div>
                      </div>
            
                      <div id = "toggle_btw_forms2" style="display: none;">
                        <div class="input-field col s12 m6">
                          <input placeholder="" disabled id="ebay-sidenav-product-name" type="text">
                          <label for="ebay-sidenav-product-name">Product Name</label>
                      </div>
                      <div class="input-field col s12 m6">
                          <input placeholder="" disabled id="ebay-sidenav-description" type="text">
                          <label for="ebay-sidenav-description">Description</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input placeholder="" disabled id="ebay-sidenav-category" type="text">
                        <label for="ebay-sidenav-category">Category</label>
                      </div>
                   </div>
            
                    <div id = "toggle_btw_forms3" style="display: none;">
                        <div class="input-field col s12 m6">
                          <input placeholder="" disabled id="noon-sidenav-product-name" type="text">
                          <label for="noon-sidenav-product-name">Product Name</label>
                      </div>
                      <div class="input-field col s12 m6">
                          <input placeholder="" disabled id="noon-sidenav-product-type" type="text">
                          <label for="noon-sidenav-product-type">Product Type</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input placeholder="" disabled id="noon-sidenav-product-sub-type" type="text">
                        <label for="noon-sidenav-product-sub-type">Product Sub Type</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input placeholder="" disabled id="noon-sidenav-mobileno" type="text">
                        <label for="noon-sidenav-mobileno">Mobile No</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input placeholder="" disabled id="noon-sidenav-msrpae" type="text">
                        <label for="noon-sidenav-msrpae">MSRP AE</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input placeholder="" disabled id="noon-sidenav-model-name" type="text">
                        <label for="noon-sidenav-model-name">Model Name</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input placeholder="" disabled id="noon-sidenav-msrpae-unit" type="text">
                        <label for="noon-sidenav-msrpae-unit">MSRP AE UNIT</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input placeholder="" disabled id="noon-sidenav-descrption" type="text">
                        <label for="noon-sidenav-description">Description</label>
                      </div>
                  </div>
                  </div>