<div class="row ">
                        <div class="col s1 toggler-container margin-left-zero left">
                          <label class="toggler-wrapper style-25">
                            <input class="product-checkmark" id = "checkmark-`+ products[i]["product_pk"] + `" type="checkbox" >
                             <div class="toggler-slider" style="margin-left: 5px;">
                              <div class="toggler-knob"></div>
                            </div>
                          </label>                
                        </div>
                        <div class="col s2 margin-left-zero left padd-right drop-it">
                          <div class = "thumbnail_container inline-block">
                            <img src = "{% static 'WAMSApp/img/thumbnail.jpeg' %}" class = "thumbnail-img" />
                          </div>
                          <div class = "product-name-container inline-block">
                            <div class="product-info">
                              <p id="base-product-name-`+base_product_pk+`" class="title small-font">
                                `+ product_name + `   
                              </p>
                              <p id="seller-sku-`+base_product_pk+`" class="subtitle subtitle-font">
                                `+ products[i]["seller_sku"] + `
                              </p>
                            </div>
                          </div>
                        </div>
                        <div id="brand-name-`+base_product_pk+`" class="col s1 avenir-next-regular margin-left-zero left small-font padd-right">
                          `+ products[i]["brand_name"] + `
                        </div>
                         <div id="brand-name-`+base_product_pk+`" class="col s1 avenir-next-regular margin-left-zero left small-font padd-right">
                          2
                        </div>
                         <div id="brand-name-`+base_product_pk+`" class="col s1 avenir-next-regular margin-left-zero left small-font padd-right">
                          2
                        </div>
                         <div id="brand-name-`+base_product_pk+`" class="col s2 avenir-next-regular margin-left-zero left small-font padd-right">
                              warehouse demo
                        </div>
                          <div class="col s2 avenir-next-regular margin-left-zero left small-font padd-right">
                                123,ASD
                        </div>
                          <div class="col s2  avenir-next-regular margin-left-zero left small-font padd-right">
                                 
                                <div class = "inline-block">
                                    <span style = "font-size:10px;margin-up:0px !important;margin-down:0px !important;">1P | 3V</span>
                                    <br/>
                                    <span style = "font-size:10px;margin-up:0px !important;margin-down:0px !important;">4P | 9P</span>
                                </div>


                                  <a class="status-btn" base_product_pk = '`+base_product_pk+`' href="#edit-base-product-modal" style="position:relative;" class="">
                                <i class="material-icons statusbtn" title="Import" style="
                                    color: black;
                                    background-color: #FFFBA3;
                                    padding: 6px;
                                    border-radius: 5px;
                                    position:relative;
                                    bottom:9px;
                                    margin-left:30px !important; 
                                    font-size: 10px;">
                                  border_color
                                </i>
                              </a>

                                 <a class="status-btn" base_product_pk = '`+base_product_pk+`' href="#create-new-base-product-modal" class="">
                                <i class="material-icons statusbtn" title="Import" style="
                                    color: white;
                                    background-color: #677EFF;
                                    padding: 6px;
                                    border-radius: 5px;
                                    position:relative;
                                    bottom:9px; 
                                    margin-left:0px !important; 
                                    font-size: 10px;">
                                 add_circle_outline
                                </i>
                              </a>

                          

                        </div>
                       
                      </div>



                      var product_name_amazon_uk = $("#product-name-amazon-uk").val();
                      var product_name_amazon_uae = $("#product-name-amazon-uae").val();
                      var product_name_ebay = $("#product-name-ebay").val();
                      var product_name_sap = $("#product-name-sap").val();
                      var product_name_noon = $("#product-name-noon").val();
              
                      var category = $("#category").val();
                      var subtitle = $("#subtitle").val();
                      var brand = $("#brand-name").val();
                      var manufacturer = $("#manufacturer").val();
                      var product_id = $("#product-id").val();
                      var product_id_type = $("#product-id-type").val();
                      var seller_sku = $("#seller-sku").val();
                      var manufacturer_part_number = $("#manufacturer-part-number").val();
                      var barcode_string = $("#barcode-string").val();
                      var noon_product_type = $("#noon-product-type").val();
                      var noon_product_subtype = $("#noon-product-subtype").val();
                      var noon_model_number = $("#noon-model-number").val();
                      var noon_model_name = $("#noon-model-name").val();
                      var condition_type = $("#condition-type").val();
                      var feed_product_type = $("#feed-product-type").val();
                      var update_delete = $("#update-delete").val();
                      var recommended_browse_nodes = $("#recommended-browse-nodes").val();
                      var product_description_amazon_uk = window.editor[0].getData();
                      var product_description_amazon_uae = window.editor[1].getData();
                      var product_description_ebay = window.editor[2].getData();
                      var product_description_noon = window.editor[3].getData();